<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<string></string>
	<key>room</key>
	<dict>
		<key>1</key>
		<dict>
			<key>Adults</key>
			<string>1</string>
			<key>Children</key>
			<string>0</string>
			<key>Ages</key>
			<dict>
				<key>1</key>
				<string></string>
				<key>2</key>
				<string></string>
				<key>3</key>
				<string></string>
			</dict>
		</dict>
		<key>2</key>
		<dict>
			<key>Adults</key>
			<string>1</string>
			<key>Children</key>
			<string>0</string>
			<key>Ages</key>
			<dict>
				<key>1</key>
				<string></string>
				<key>2</key>
				<string></string>
				<key>3</key>
				<string></string>
			</dict>
		</dict>
		<key>3</key>
		<dict>
			<key>Adults</key>
			<string>1</string>
			<key>Children</key>
			<string>0</string>
			<key>Ages</key>
			<dict>
				<key>1</key>
				<string></string>
				<key>2</key>
				<string></string>
				<key>3</key>
				<string></string>
			</dict>
		</dict>
		<key>4</key>
		<dict>
			<key>Adults</key>
			<string>1</string>
			<key>Children</key>
			<string>0</string>
			<key>Ages</key>
			<dict>
				<key>1</key>
				<string></string>
				<key>2</key>
				<string></string>
				<key>3</key>
				<string></string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
